@import "tailwindcss";

:root {
  --background: #fccfbc;
  --foreground: #3B1F2B;
  --muted: #97b0b7;
  --accent: #3B1F2B;
  --action: #bccd78;
  --card: #e8af9c;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
